$COLOR_PRIMARY: #5a5472;
$COLOR_SECONDARY: #b1b4b8;
$COLOR_ACCENT: #e05410;
$COLOR_BACKGROUND: #fbf9f9;

$COLOR_BOX_SHADOW: RGB(179, 182, 186, 0.2);

html,
body,
#root {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  font-family: Helvetica Neue, sans-serif;
  background-color: $COLOR_BACKGROUND;
}

header {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -10%);
  background-color: $COLOR_BACKGROUND;
  padding: 10px 20px;
}

header,
.map-legend {
  z-index: 1000;
  box-shadow: 0 5px 10px $COLOR_BOX_SHADOW, 0 15px 40px $COLOR_BOX_SHADOW;
}

.description {
  font-size: 12px;
}

select {
  margin-left: 6px;
  font-size: 16px;
}

.typeOfThinking {
  font-style: italic;
}

.minimal-marker {
  div {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    filter: blur(4px);
  }
}

.minimal-popup {
  .leaflet-popup-content-wrapper,
  .leaflet-popup-tip {
    box-shadow: none !important;
  }

  .leaflet-popup-content {
    margin: 20px;
    max-width: 200px !important;
  }

  img {
    max-width: 200px;
    height: auto;
    display: block;
    border-radius: 8px;
  }
}

.map-legend {
  position: absolute;
  bottom: 10px;
  left: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: $COLOR_BACKGROUND;
  padding: 10px;

  .legend-item {
    display: flex;
    gap: 8px;
    align-items: baseline;
  }

  .legend-color {
    height: 14px;
    width: 14px;
    border-radius: 50%;
  }
}
