@import url('https://fonts.googleapis.com/css2?family=Allerta&display=swap');

$COLOR_BOX_SHADOW: RGB(179, 182, 186, 0.2);

html,
body,
#root {
  margin: 0;
  padding: 0;
  font-family: 'Allerta', sans-serif;
  color: #4a4a4a;
}

a {
  color: #4a4a4a;
}

.leaflet-container {
  height: 100vh;
}

.description {
  position: fixed;
  right: 10px;
  top: 10px;
  background-color: white;
  z-index: 1000;
  padding: 20px;
  border-radius: 10px;
  max-width: 200px;
}

.minimal-popup {
  z-index: 1000;
  box-shadow: 0 5px 10px $COLOR_BOX_SHADOW, 0 15px 40px $COLOR_BOX_SHADOW;
}

select {
  font-size: 16px;
}

.minimal-marker {
  div {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    filter: blur(3px);
  }
}

.topFive {
  div {
    animation: pulse 2s ease-in-out infinite;
  }
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.7);
  }
}

.minimal-popup {
  .leaflet-popup-content-wrapper,
  .leaflet-popup-tip {
    box-shadow: none !important;
  }

  .leaflet-popup-content {
    margin: 20px;
    max-width: 200px !important;
    font-family: 'Allerta', sans-serif;

    p {
      margin: 0;
    }

    .position-title {
      margin: 14px 0 10px 0;
    }

    .position-date {
      margin-bottom: 10px;
    }
  }

  img {
    max-width: 200px;
    height: auto;
    display: block;
    border-radius: 8px;
  }
}

.map-legend {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .legend-item {
    display: flex;
    gap: 8px;
    align-items: baseline;
  }

  .legend-color {
    height: 14px;
    width: 14px;
    border-radius: 50%;
  }
}
